/* Common styles for the entire page */
body {
  margin: 0;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}  
/* Styles for headings */
h1 {
  color: white;
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}
/* Styles for paragraphs */
p {
  font-size: 16px;
  line-height: 1.5;
}

/* Styles for links */
a {
  color: black;
  text-decoration: none;
  opacity: 0.75;
}

a:hover {
  opacity: 1;
}

/* Styles for images */
img {
  max-width: 200px;
  height: auto;
  padding: 20px;
}

/* Styles for separators */
hr {
  border: none;
  border-top: 1px solid #cccccc;
  margin: 10px 0;
}

/* Additional styles */
 .container {
  display: flex;
  min-height: 100%;
} 
.center {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
main {
  position: relative;
  flex-grow: 1;
  display: flex;
}
.left {
  position: fixed;
  flex-basis: 25%;
  background-color: black;
  color: white;
  text-align: center;
  width: 25%;
  top: 0;
  /* margin-left: 12em; */
  padding: 10px;
  height: 100vh;
  overflow-y: scroll;
}

.right {
  position: fixed;
  flex-grow: 1;
  margin-left: 25%;
  background-color: #767676;
  color: white;
  top: 0;
  margin-top: 0;
  padding: 10px;
  min-height: 100%;
  height: 100vh;
  width: 75%;
  overflow-y: auto;
}
.contacts {
  margin: auto;
  text-align: left;
  padding: 1em;
}
.description {
  text-align: center;
  padding: 1em;
  margin-left: 10px;
  margin-right: 10px;
}
.about ul {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.about li {
  margin: 0 25px;
  display: inline-block;
  list-style: none;
}
.skills ul {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  text-align: left;
  display: inline-block;
  list-style-type: disc;
}
.skills li {
  text-align: left;
  display: inline-block;
  list-style-type: disc;
}
.footer {
  min-height: 100px;
  max-height: 10%;
  flex-shrink: 0;
  position: absolute;
  bottom: 0;
  left: 25%;
  background-color: transparent;
  width: 75%;
}
.footer ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.footer li {
  margin: 0 10px;
  display: inline-block;
  list-style: none;
}
.footer p {
  margin: auto;
  width: 33%;
  display: inline-block;
  text-align: center;
}
.footer img {
  width: 75px;
  height: auto;
}
