/* Common styles for the entire page */
body {
  background-color: white;
  font-family: Arial, sans-serif;
}

/* Styles for headings */
h1 {
  color: white;
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}
/* Styles for paragraphs */
p {
  font-size: 16px;
  line-height: 1.5;
}

/* Styles for links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Styles for lists */
ul {
  list-style-type: disc;
}

li {
  margin-bottom: 5px;
}

/* Styles for images */
img {
  max-width: 200px;
  height: auto;
  padding: 20px;
}

/* Styles for separators */
hr {
  border: none;
  border-top: 1px solid #cccccc;
  margin: 10px 0;
}

/* Additional styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
  height: 100vh;
}
main {
  position: relative;
  flex-grow: 1;
  display: flex;
}
.left {
  flex-basis: 30%;
  max-width: 80%;
  background-color: #cddbda;
  color: white;
  text-align: center;
  width: 25em;
  top: 0;
  margin-left: 12em;
  padding: 10px;
}
.right {
  flex-grow: 1;
  background-color: #494a5d;
  color: white;
  text-align: center;
  top: 0;
  margin-right: 12em;
  padding:10px;
}
.contacts {
  text-align: right;
}
.footer {
  margin-left: 12em;
  margin-right: 12em;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  flex-shrink: 0;
  background-color: transparent;
}
.footer p {
  width: 33%;
  display: inline-block;
  text-align: center;
}
.footer img {
  max-width: 75px;
  height: auto;
}
